<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Agenda</title>
</head>
<body>
    <h1>Agenda</h1>
    <ul>
        <% agendas.forEach((agenda, index) => { %>
            <li><%= agenda.title %>: <%= agenda.description %></li>
        <% }) %>
    </ul>

    <h2>Add New Agenda</h2>
    <form action="/agenda/add" method="POST">
        <input type="text" name="title" placeholder="Title">
       
